* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.flex-position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}

.calculator, .display {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 10px;
}

button {
    flex: 1;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 37.5px;
    color: white;
    background-color: gray;
}

button:active {
    background-color: gray;
}

.display {
    justify-content: flex-end;
    color: white;
}

.delete {
    flex-grow: 3;
    border-radius: 15px;
}

.bot {
    border-radius: 50px;
}
/*
.nums {
    background-color: darkblue;
}

.operator, .equals {
    background-color: yellow;
}*/